Repository kubernetes-simulator/simulator, pull requests merged in 2020-02, with the labels that each got.

#219 feat: add categories and difficulties to scenarios
  simulation-scripts/scenario/container-ambush/tasks.yaml
  simulation-scripts/scenario/container-defeat-in-detail/tasks.yaml
  simulation-scripts/scenario/container-phalanx-formation/tasks.yaml
  simulation-scripts/scenario/etcd-inverted-wedge/tasks.yaml
  simulation-scripts/scenario/master-encirclement/tasks.yaml
  simulation-scripts/scenario/master-shell-scrape/tasks.yaml
  simulation-scripts/scenario/network-feint/tasks.yaml
  simulation-scripts/scenario/network-hammer-and-anvil/tasks.yaml
  simulation-scripts/scenario/network-hedgehog-defence/tasks.yaml
  simulation-scripts/scenario/network-swarming/tasks.yaml
  simulation-scripts/scenario/node-amphibious-operations/tasks.yaml
  simulation-scripts/scenario/node-raiding/tasks.yaml
  simulation-scripts/scenario/node-shock-tactics/tasks.yaml
  simulation-scripts/scenario/noop/tasks.yaml
  simulation-scripts/scenario/policy-echelon-formation/tasks.yaml
  simulation-scripts/scenario/policy-fire-support/tasks.yaml
  simulation-scripts/scenario/policy-force-dispersal/tasks.yaml
  simulation-scripts/scenario/policy-vertical-envelopment/tasks.yaml
  simulation-scripts/scenario/rbac-contact-drill/tasks.yaml
  simulation-scripts/scenario/rbac-flanking-maneuver/tasks.yaml
  simulation-scripts/scenario/rbac-sangar/tasks.yaml
  simulation-scripts/scenario/rbac-shoot-and-scoot/tasks.yaml
  simulation-scripts/scenario/secret-high-ground/tasks.yaml
  simulation-scripts/scenario/secret-tank-desant/tasks.yaml
  simulation-scripts/tools/add-category-and-difficulty.sh
Labels: enhancement, medium, scenario

#222 feat: describe scenario
  cmd/scenario.go
Labels: enhancement, go

#221 feat: format scenarios list into a matrix
  cmd/scenario.go
  pkg/scenario/scenario.go
  simulation-scripts/scenarios.yaml
Labels: enhancement, go, low

#224 feat: add difficulty and category flag
  cmd/root.go
  cmd/scenario.go
  go.mod
  go.sum
  pkg/util/util.go
  pkg/util/util_test.go
Labels: enhancement, go, medium

#223 docs: update tasks.yaml spec
  docs/tasks-yaml-format.md
  simulation-scripts/scenario/container-ambush/tasks.yaml
  simulation-scripts/scenario/container-defeat-in-detail/tasks.yaml
  simulation-scripts/scenario/container-phalanx-formation/tasks.yaml
  simulation-scripts/scenario/etcd-inverted-wedge/tasks.yaml
  simulation-scripts/scenario/master-encirclement/tasks.yaml
  simulation-scripts/scenario/master-shell-scrape/tasks.yaml
  simulation-scripts/scenario/network-feint/tasks.yaml
  simulation-scripts/scenario/network-hammer-and-anvil/tasks.yaml
  simulation-scripts/scenario/network-hedgehog-defence/tasks.yaml
  simulation-scripts/scenario/network-swarming/tasks.yaml
  simulation-scripts/scenario/node-amphibious-operations/tasks.yaml
  simulation-scripts/scenario/node-raiding/tasks.yaml
  simulation-scripts/scenario/node-shock-tactics/tasks.yaml
  simulation-scripts/scenario/policy-echelon-formation/tasks.yaml
  simulation-scripts/scenario/policy-fire-support/tasks.yaml
  simulation-scripts/scenario/policy-force-dispersal/tasks.yaml
  simulation-scripts/scenario/policy-vertical-envelopment/tasks.yaml
  simulation-scripts/scenario/rbac-contact-drill/tasks.yaml
  simulation-scripts/scenario/rbac-flanking-maneuver/tasks.yaml
  simulation-scripts/scenario/rbac-sangar/tasks.yaml
  simulation-scripts/scenario/rbac-shoot-and-scoot/tasks.yaml
  simulation-scripts/scenario/secret-high-ground/tasks.yaml
  simulation-scripts/scenario/secret-tank-desant/tasks.yaml
Labels: documentation, low, scenario

#228 fix: clarify welcome message
  attack/scripts/bashrc
Labels: attack

#231 Documentation
  README.md
  docs/bastion.png
  docs/simulator.png
Labels: documentation

#233 chore: minor category capitalisation fix
  simulation-scripts/scenario/container-ambush/tasks.yaml
  simulation-scripts/scenario/container-defeat-in-detail/tasks.yaml
  simulation-scripts/scenario/container-phalanx-formation/tasks.yaml
  simulation-scripts/scenario/etcd-inverted-wedge/tasks.yaml
  simulation-scripts/scenario/master-encirclement/tasks.yaml
  simulation-scripts/scenario/master-shell-scrape/tasks.yaml
  simulation-scripts/scenario/network-feint/tasks.yaml
  simulation-scripts/scenario/network-hammer-and-anvil/tasks.yaml
  simulation-scripts/scenario/network-hedgehog-defence/tasks.yaml
  simulation-scripts/scenario/network-swarming/tasks.yaml
  simulation-scripts/scenario/node-amphibious-operations/tasks.yaml
  simulation-scripts/scenario/node-raiding/tasks.yaml
  simulation-scripts/scenario/node-shock-tactics/tasks.yaml
  simulation-scripts/scenario/policy-echelon-formation/tasks.yaml
  simulation-scripts/scenario/policy-fire-support/tasks.yaml
  simulation-scripts/scenario/policy-force-dispersal/tasks.yaml
  simulation-scripts/scenario/policy-vertical-envelopment/tasks.yaml
  simulation-scripts/scenario/rbac-contact-drill/tasks.yaml
  simulation-scripts/scenario/rbac-flanking-maneuver/tasks.yaml
  simulation-scripts/scenario/rbac-sangar/tasks.yaml
  simulation-scripts/scenario/rbac-shoot-and-scoot/tasks.yaml
  simulation-scripts/scenario/secret-high-ground/tasks.yaml
  simulation-scripts/scenario/secret-tank-desant/tasks.yaml
  simulation-scripts/scenarios.yaml
Labels: low, scenario

#236 Optional ip check
  cmd/infra.go
  cmd/root.go
  cmd/scenario.go
  cmd/ssh.go
  docs/IP-Detection.md
  pkg/simulator/simulator.go
  pkg/simulator/ssh_test.go
  pkg/simulator/terraform.go
  pkg/simulator/terraform_test.go
  simulation-scripts/scenario/node-amphibious-operations/challenge.txt
Labels: enhancement, go

#225 feat: allow extra ips to be added to the bastion sg
  cmd/infra.go
  cmd/root.go
  pkg/simulator/simulator.go
  pkg/simulator/terraform.go
  pkg/simulator/terraform_vars.go
  pkg/simulator/terraform_vars_test.go
  terraform/deployments/AWS/variables.tf
  terraform/modules/AWS/SecurityGroups/main.tf
  terraform/modules/AWS/SecurityGroups/variables.tf
Labels: enhancement, go, medium, terraform

#229 feat: allow specific container and pod host starts
  attack/scripts/bashrc
  docs/tasks-yaml-format.md
  simulation-scripts/perturb.sh
Labels: attack, enhancement, medium, perturb, scenario
