Repository kubernetes-simulator/simulator, pull requests merged in 2020-01, with the labels that each got.

#153 fix: pertub logging for scenario output
  simulation-scripts/perturb.sh
Labels: bug, low, perturb

#163 docs: document ip detection process
  docs/IP-Detection.md
Labels: documentation, low

#168 fix(perturb): clean up .kubesim files correctly
  simulation-scripts/perturb.sh
Labels: bug, low, perturb, urgent

#177 feat(github): update stale timeout and exemptions
  .github/workflows/stale.yml
Labels: awaiting-approval, github, low

#167 Standardise BASH configurations for Simulator Terminals
  .github/workflows/shellcheck.yml
  .github/workflows/terraform-fmt.yml
  Dockerfile
  attack/Dockerfile
  attack/scripts/bashrc
  attack/scripts/entrypoint.sh
  launch-files/.bash_aliases
  launch-files/bash_aliases
  launch-files/bashrc
  launch-files/inputrc
  terraform/README.md
  terraform/deployments/AWS/main.tf
  terraform/deployments/AWS/output.tf
  terraform/modules/AWS/Bastion/bash_aliases
  terraform/modules/AWS/Bastion/bashrc
  terraform/modules/AWS/Bastion/cloud-config.tf
  terraform/modules/AWS/Bastion/cloud-config.yaml
  terraform/modules/AWS/Bastion/inputrc
  terraform/modules/AWS/Bastion/test.tf
  terraform/modules/AWS/Bastion/variables.tf
  terraform/modules/AWS/InternalHost/README-auto.md
  terraform/modules/AWS/InternalHost/bash_aliases
  terraform/modules/AWS/InternalHost/bashrc
  terraform/modules/AWS/InternalHost/goss.yaml
  terraform/modules/AWS/InternalHost/inputrc
  terraform/modules/AWS/InternalHost/internal-config.tf
  terraform/modules/AWS/InternalHost/internal-config.yaml
  terraform/modules/AWS/InternalHost/main.tf
  terraform/modules/AWS/InternalHost/output.tf
  terraform/modules/AWS/InternalHost/test.tf
  terraform/modules/AWS/InternalHost/variables.tf
  terraform/modules/AWS/InternalNode/internal-config.tf
  terraform/modules/AWS/InternalNode/output.tf
  terraform/modules/AWS/Kubernetes/bash_aliases
  terraform/modules/AWS/Kubernetes/bashrc
  terraform/modules/AWS/Kubernetes/inputrc
  terraform/modules/AWS/Kubernetes/master-cloud-config.tf
  terraform/modules/AWS/Kubernetes/master-cloud-config.yaml
  terraform/modules/AWS/Kubernetes/node-cloud-config.tf
  terraform/modules/AWS/Kubernetes/node-cloud-config.yaml
  terraform/modules/AWS/Kubernetes/test.tf
  test/fixtures/noop-tf-dir/main.tf
Labels: attack, build, enhancement, medium, terraform

#178 fix(attack): update env var for internal host ip
  attack/scripts/bashrc
Labels: attack, bug, low, urgent

#179 Hint Summaries
  simulation-scripts/scenario/container-ambush/tasks.yaml
  simulation-scripts/scenario/container-defeat-in-detail/tasks.yaml
  simulation-scripts/scenario/container-phalanx-formation/tasks.yaml
  simulation-scripts/scenario/etcd-inverted-wedge/tasks.yaml
  simulation-scripts/scenario/master-encirclement/tasks.yaml
  simulation-scripts/scenario/master-shell-scrape/tasks.yaml
  simulation-scripts/scenario/network-feint/tasks.yaml
  simulation-scripts/scenario/network-hammer-and-anvil/tasks.yaml
  simulation-scripts/scenario/network-hedgehog-defence/tasks.yaml
  simulation-scripts/scenario/network-swarming/tasks.yaml
  simulation-scripts/scenario/node-amphibious-operations/tasks.yaml
  simulation-scripts/scenario/node-raiding/tasks.yaml
  simulation-scripts/scenario/node-shock-tactics/tasks.yaml
  simulation-scripts/scenario/noop/tasks.yaml
  simulation-scripts/scenario/policy-echelon-formation/tasks.yaml
  simulation-scripts/scenario/policy-fire-support/tasks.yaml
  simulation-scripts/scenario/policy-force-dispersal/tasks.yaml
  simulation-scripts/scenario/policy-vertical-envelopment/tasks.yaml
  simulation-scripts/scenario/rbac-contact-drill/tasks.yaml
  simulation-scripts/scenario/rbac-flanking-maneuver/tasks.yaml
  simulation-scripts/scenario/rbac-sangar/tasks.yaml
  simulation-scripts/scenario/rbac-shoot-and-scoot/tasks.yaml
  simulation-scripts/scenario/secret-high-ground/tasks.yaml
  simulation-scripts/scenario/secret-tank-desant/tasks.yaml
  simulation-scripts/tools/jq-all-tasks.sh
  simulation-scripts/tools/poc-ssh
  simulation-scripts/tools/test-func.sh
Labels: enhancement, medium, scenario

#181 Pod starting point
  attack/scripts/bashrc
  simulation-scripts/perturb.sh
  simulation-scripts/scenario/container-ambush/tasks.yaml
  simulation-scripts/scenario/container-defeat-in-detail/tasks.yaml
  simulation-scripts/scenario/container-phalanx-formation/tasks.yaml
  simulation-scripts/scenario/etcd-inverted-wedge/tasks.yaml
  simulation-scripts/scenario/master-encirclement/tasks.yaml
  simulation-scripts/scenario/master-shell-scrape/tasks.yaml
  simulation-scripts/scenario/network-feint/tasks.yaml
  simulation-scripts/scenario/network-hammer-and-anvil/tasks.yaml
  simulation-scripts/scenario/network-hedgehog-defence/challenge.txt
  simulation-scripts/scenario/network-hedgehog-defence/tasks.yaml
  simulation-scripts/scenario/network-swarming/tasks.yaml
  simulation-scripts/scenario/node-amphibious-operations/tasks.yaml
  simulation-scripts/scenario/node-raiding/challenge.txt
  simulation-scripts/scenario/node-raiding/tasks.yaml
  simulation-scripts/scenario/node-shock-tactics/tasks.yaml
  simulation-scripts/scenario/noop/tasks.yaml
  simulation-scripts/scenario/policy-echelon-formation/challenge.txt
  simulation-scripts/scenario/policy-echelon-formation/tasks.yaml
  simulation-scripts/scenario/policy-fire-support/tasks.yaml
  simulation-scripts/scenario/policy-force-dispersal/tasks.yaml
  simulation-scripts/scenario/policy-vertical-envelopment/challenge.txt
  simulation-scripts/scenario/policy-vertical-envelopment/tasks.yaml
  simulation-scripts/scenario/rbac-contact-drill/tasks.yaml
  simulation-scripts/scenario/rbac-flanking-maneuver/tasks.yaml
  simulation-scripts/scenario/rbac-sangar/tasks.yaml
  simulation-scripts/scenario/rbac-shoot-and-scoot/tasks.yaml
  simulation-scripts/scenario/secret-high-ground/tasks.yaml
  simulation-scripts/scenario/secret-tank-desant/tasks.yaml
Labels: attack, enhancement, medium, perturb, scenario

#182 Hint penalty
  docs/tasks-yaml-format.md
  simulation-scripts/perturb.sh
  simulation-scripts/scenario/container-ambush/tasks.yaml
  simulation-scripts/scenario/container-defeat-in-detail/tasks.yaml
  simulation-scripts/scenario/container-phalanx-formation/tasks.yaml
  simulation-scripts/scenario/etcd-inverted-wedge/tasks.yaml
  simulation-scripts/scenario/master-encirclement/tasks.yaml
  simulation-scripts/scenario/master-shell-scrape/tasks.yaml
  simulation-scripts/scenario/network-feint/tasks.yaml
  simulation-scripts/scenario/network-hammer-and-anvil/tasks.yaml
  simulation-scripts/scenario/network-hedgehog-defence/tasks.yaml
  simulation-scripts/scenario/network-swarming/tasks.yaml
  simulation-scripts/scenario/node-amphibious-operations/tasks.yaml
  simulation-scripts/scenario/node-raiding/tasks.yaml
  simulation-scripts/scenario/node-shock-tactics/tasks.yaml
  simulation-scripts/scenario/policy-echelon-formation/tasks.yaml
  simulation-scripts/scenario/policy-fire-support/tasks.yaml
  simulation-scripts/scenario/policy-force-dispersal/tasks.yaml
  simulation-scripts/scenario/policy-vertical-envelopment/tasks.yaml
  simulation-scripts/scenario/rbac-contact-drill/tasks.yaml
  simulation-scripts/scenario/rbac-flanking-maneuver/tasks.yaml
  simulation-scripts/scenario/rbac-sangar/tasks.yaml
  simulation-scripts/scenario/rbac-shoot-and-scoot/tasks.yaml
  simulation-scripts/scenario/secret-high-ground/tasks.yaml
  simulation-scripts/scenario/secret-tank-desant/tasks.yaml
  simulation-scripts/tools/add-hint-penalty.sh
Labels: enhancement, low, scenario

#183 Fix tests - OSX
  Dockerfile
  pkg/simulator/terraform_vars.go
  pkg/simulator/terraform_vars_test.go
  pkg/util/util_test.go
  terraform/deployments/AWS/terraform-bundle.hcl
  test/fixtures/tf-dir-with-settings/providers.tf
  test/fixtures/tf-dir-with-settings/settings/bastion.tfVars
  test/fixtures/tf-dir-with-settings/settings/providers.tf
Labels: bug, go
